@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $Inter;
    color: $dark;
}

h1 {
    margin: 1em 0;
}

#root {
    height: 100%;
}